  <header>
    <img class="left" src="img/multilogooil.png" alt="rainbowed text saying 'multiple intelligences'">
    <h3 id="quote"><em>“It’s not how smart you are that matters, what really counts is how are you smart”. </em> – Howard Gardner</h3>
    
    <nav>
      <ul>
        <li><a href="index.html">Main</a></li>
        <li><a href="iqtypes.html">Intelligence Types</a></li>
        <li><a href="survey.html">The Survey</a></li>
        <li><a href="about.html">About Us</a></li>
      </ul>
    </nav>
  </header>