<head>
  <meta charset="UTF-8">
  <title>Where Does Your Intelligence Lie?</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="/app.css"> -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600');
  </style>
</head>