  <header>
    <img class="left" src="img/multilogooil.png" alt="rainbowed text saying 'multiple intelligences'">
    <h3 id="quote"><em>“It’s not how smart you are that matters, what really counts is how are you smart”. </em> – Howard Gardner</h3>
    
    <nav>
      <ul>
        <li><a href="/">Main</a></li>
        <li><a href="/iqtypes">Intelligence Types</a></li>
        <li><a href="/user">Create User</a></li>        
        <li><a href="/survey">The Survey</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </nav>
  </header>